.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btns{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.btns button{
  width: 40%;
  height: 50px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  border: no;
  margin-bottom: 20px;
  cursor: pointer;
}
.btnNext{
  background-color: rgb(151, 255, 125);
  
}
.btnPrev{
  background-color: rgb(255, 160, 160)
}